@import '../_colors';
@import '../units';
@import '../_mixins';

#account{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    
    .account__login{ text-align: center; }

    .account__details{
        display: flex;
        flex-direction: column
    }
}