@import '../_colors';
@import '../units';
@import '../_mixins';


@mixin icon($icon){ .banner__icon:after{ content: $icon; }}

.banner {
    display: table;
    width: 100%;
    background: $color-background-menu-2;
    border-left: 1px dashed $color-primary-60;

    .banner__content {
        display: table-cell;
        padding: 10px;
        vertical-align: middle;
    }

    .banner__icon {
        display: table-cell;
        width: 1%;
        padding: 10px;
        color: $color-secondary-50;

        &:after {
            font-family: FontAwesome; 
            vertical-align: top;
            font-size: 32px;
        }
    }

    &.banner--info      { @include icon("\f05a"); }
    &.banner--warning   { @include icon("\f071"); }
    &.banner--linked    { @include icon("\f0c1"); }
}


// DESKTOP ( >= 720px  )
// ================================
@media (min-width: 720px) {
    
}
