@import '../_colors';
@import '../units';
@import '../_mixins';

// Colors
// --------------------------------
$nav-font-color:            $color-primary-80;
$nav-hover-font-color:      $color-tertiary-50;
$nav-slide-background:      $color-primary-10;

// Units
// --------------------------------
$nav-arrow-size: 10px;


@mixin button-gradient($color1, $color2){
    @include linear-gradient-vertical-2($color1, 0, $color2, 100%);
}

// MOBILE ( < 720px  )
// ================================
button,
.button{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    line-height: 12px;
    font-family: inherit;
    min-height: 30px;
    min-width: 75px;
    overflow: hidden;

    color: $color-primary-10;
    background: $color-secondary-70;
    @include button-gradient($color-secondary-50, $color-secondary-60);

    border: none;
    border-radius: 3px;
    //border: 1px solid $color-secondary-60;
    //text-shadow: 1px 1px 0 rgba(black, 0.3);

    &:hover{  @include button-gradient($color-secondary-30, $color-secondary-60); }

    &:active{ background: $color-secondary-70; }
        
    &+ button{ margin-left: 5px; }

    // Color Variations
    // ---------------------------
    &.button--primary{
        background: $color-primary-70;
        &:hover{ background: mix($color-primary-80, $color-primary-70, 50%); }
    }

    &.button--tertiary{
        background: $color-tertiary-30;
         @include button-gradient($color-tertiary-50, $color-tertiary-60);
        &:hover{ 
            background: $color-tertiary-50;
             @include button-gradient($color-tertiary-40, $color-tertiary-60);
        }
    }

    &.button--action{
        background: $color-action-30;
        &:hover{ background: $color-action-40; }
    }

    &.button--transparent {
        //border: 2px solid $color-primary-80;
        color: $color-primary-70;
        background: none;
        &:hover{ color: $color-primary-80; } //border-color: $color-primary-90; }
    }

    &.button--link {
        background: none;
        color: $color-secondary-50;
        &:visited,
        &:active,
        &:link{
            color: $color-secondary-50;
        }

        &:hover{
            color: $color-secondary-60;
        }
    }

    &:disabled,
    &[disabled]{
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }

    .button__clicky{
        position: absolute;
        display: inline-block;
        background: rgba($color-secondary-20, 0.7);
	    border-radius: 100%;
	    transform: scale(0);
    }

    &.button--animate{
        .button__clicky { animation: ripple 0.6s linear; }
        @keyframes ripple {
	        100% {opacity: 0; transform: scale(2);}
        }
    }
}

// DESKTOP ( >= 720px  )
// ================================
@media (min-width: 720px) {
    
}
