@import '../_colors';
@import '../units';
@import '../_mixins';

.designer__stage{
    display: table-cell;
    vertical-align: top;

    @media screen and (max-width: 720px){
        .stage__workspace{
            padding: 10px;
        }
    }
    
}

.stage{ 
    //border-top: 1px solid $color-background-menu;
    .designer__add{
        margin: 0 5px;
        height: 40px;
    }

    .designer__recent{
        text-align: left;

        .recent__columns{
            display: flex;
            justify-content: center;
            ul+ul{ margin-left: 50px; }

            button { text-align: left;}

            @media screen and (max-width: 600px){
                flex-direction: column;
                ul+ul{ margin: 30px 0 0 0; }
            }
        }

        .recent__header{
            font-size: 22px;
            margin-bottom: 10px;
        }

        
    }
}

.designer__link{
    display: block;

    
    .button__subtitle{
        font-size: 12px;
        color: $color-primary-80;
        margin-left: 10px;
    }
}

.stage__workspace{
    padding:20px;
    min-height: calc(100% - 91px);
    max-width: 900px;

    &>*:first-child{ margin-top: 0!important; }

    .group__definitions{
        display: flex;
        flex-wrap:wrap;
        .definition{
            margin: 10px;
        }
    }

    .definition__settings{
        padding-left: 5px;
    }

    .definition__setting{
        position: relative;

        .field__value{ 
            font-size: 14px;
            padding-right: 30px;
        }

        .field__label {  min-width: 120px; }

        &>.field {
            .field__label,
            .field__value { padding-left: 30px;}
        }

        .definition__setting-remove,
        .definition__rule-tag {
            position: absolute;
            font-family: "Ionicons";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            cursor: pointer !important;
            padding: 5px 10px;
        }

        .definition__rule-tag{
            
            //color: $color-primary-60;
             &:after{
                 content: "\f48d";
             }
        }

        .definition__setting-remove{
            
             &:after{ content: "\f2d7"; }
             &:hover{ color: $color-red; }
        }
    }

    .definition__tag--active { 
        background-color: $color-action-20 !important;
        color: $color-link-50 !important;
    }

    .definition__setting--active,
    .definition__nested-rule--active {
        transition: background-color 0.3s ease-in-out;
        .field__label{ color: $color-action-70; }
    }

    .expandable__header { 
        position: relative;
    }

    .expandable__button { 
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -8px;
    }

    .expandable__content{
        font-size: 10px;
        padding: 5px;
    }

    .definition__overrides{
        padding-left: 24px;
        opacity: 0.6;

        li {
            .field__label,
            .field__value{
                font-size: 12px;
            }

            .field__label{ padding-right: 10px; }
        }
    }
}

.stage__menu{
    display: flex;
    align-items: stretch;
    background-color: $color-background-menu-2;
    border-bottom: 1px solid $color-primary-30;

    .button{
        position: relative;
        min-width: 50px;
        height: 44px;
    }

    .icon--delete{
        margin-left: auto;
        border-radius: 0; 
        //background: mix($color-red, white, 5%);
        &:hover{ color: $color-red !important; }

    }

    .icon--save:hover { color: $color-tertiary-50 !important; }

    .divider{
        display: inline-block;
        margin: 10px;
        border-right: 1px solid $color-primary-40;
    }

    .stage__unsaved-count{
        position: absolute;
        top: 3px;
        right: 3px;
        text-shadow: 0 0 0 $color-background-menu-2;
    }
}

.designer__add-group{
    margin-bottom: 10px;
}
.designer__group{
    display: flex;
    align-items: center;

    &>input { width: 100%; }

    .designer__remove {
        &:hover{ color: $color-red; }
        &:after{
            font-family: "Linearicons-Free";
            content: "\f2d7";
            font-size: 20px;
            padding: 5px;
            padding-left: 10px;
            cursor: pointer;
        }
        
    }
}



