@import '../colors';
@import '../units';
@import '../mixins';

@import 'designer__stage';

$bg-list-item--active: $color-primary-80;

// Measure the margin offset for the
// list toggle area (sliding panel).
$width-toggle: 10px;
$width-settings: 170px;
$width-toggle-total: ($width-settings - ($width-toggle + 10px));


.designer{
    position: relative;
    
}

.designer__static{
    padding-left: $size-nav-left-width;
}


// __Views
// ---------------------------
.designer__views{
    position: relative;
    display: table;
    width: 100%;
    margin-top: 170px;
    h3 { padding: 0 0 10px 20px; }
}

.designer__overlay { display: none; z-index: 9; }

// __List
// ---------------------------
.designer__list{
    position: fixed;
    vertical-align: top;
    top: $size-nav-height;
    bottom: 0;
    left: 0;
    width: $size-nav-left-width;
    padding-right: 5px;
    background: $color-primary-10;
    border-right: 1px solid $color-primary-40;
    z-index: 10;

    overflow: visible;

    //@include soft-shadow();

    @media screen and (max-width: 720px){        
        & ~ .designer__overlay { display: block; }
        & ~ .designer__static { padding-left: 44px; }
    }
    
    h3 { border-top-left-radius: 3px; }

    // --Empty
    &.designer__list--empty { 
        .designer__list-actions{ display: none; }
        &~.designer__static { padding-left: 0 !important; }
        
        display: none;
    }

    // --Closed
    &.designer__list--closed {
        padding-right: 0;

        // MOBILE
        @media screen and (max-width: 720px){
            
            & ~ .designer__static { padding-left: 44px; }
            & ~ .designer__overlay { display: none; }

            // Mini buttons to become stacked
            // vertically on visible sidebar.
            

            .designer__list-items{ 
                @include translateX(-156px);
            }

            .designer__list-actions{
                align-self: flex-end;
            }

            .designer__list-actions,
            .designer__list-items {
                padding-right: 0;
                margin: 0;
            }
        }
    }

    .designer__list-actions{
        position: fixed;
        width: 44px;
        height: 100%;
        margin-right: 5px;
        background: white;
        border-right: 1px solid $color-primary-40;
        z-index: 10;

        .designer__mini-buttons{
            flex-direction: column;
            align-items: flex-end;
            border: none !important;

            button{
                display: block;
                width: 50px;
                padding: 20px 10px;
                margin: 0;
                border: none !important;
                text-align: center;
                min-width: 0;
                width: 44px;
                background: transparent;
                margin-bottom: -2px;
                color: $color-primary-70;              

                &:after { float: none; }
                &:hover{ 
                    color: $color-primary-80;
                }

                &.button--active{
                    color: $color-primary-80;
                    &:after { text-shadow: none; }
                }
            }
        }
    }

    // Space for scrollbar
    .designer__list-actions,
    .designer__list-items {
        padding-right: 5px;
    }

    // __List-Items
    // ---------------------------
    .designer__list-items{
        padding: 10px 0;
        overflow-y: auto;

        @include translateX(0);    
        @include transition(transform, 0.3s);
    }

    // __List-Item
    // ---------------------------
    .designer__list-item{
        border-left: 5px solid transparent;
        &:hover{ 
            //background: $color-primary-20; 
            .button{
                //color: white !important;
            }
        }

        button {
            display: block;
            width: 100%;
            text-align: left;
            height: 30px;
            padding: 10px;
            border-radius: 0;
            border: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.setting--active{ 
            .setting__icon:after{
                font-family: "Ionicons";
                content: "\f375";
                margin-right: 5px; 
            }
        }

        &.designer__list-item--unsaved{
            border-color: $color-action-30 !important;
            .button {
                &:before{ content: "* "; }
            }
        }

        
        // Active List-Item
        // (List & Search)
        &.designer__list-item--selected{
            border-color: $color-secondary-30 !important;
            
            .button{
                color: $color-secondary-50 !important;
            }

            /*&:after{
                position: absolute;
                top: 0;
                right: -20px;
                content: "";
                @include arrow-right(20px, $bg-list-item--active);
            }*/
        }

    }
}


.designer__list-header{
   // margin-top: 10px;
    font-weight: 600;
    padding: 10px;
    padding-left: 0;
   // border-bottom: 1px solid $color-primary-50;
   // background: $color-primary-20;
}

.designer__search{
    input{
        width: 100%;
        margin-bottom: 10px;
    }
}

// __Menu
// ---------------------------
.designer__tiles{
    display: flex;
    flex-wrap:wrap;

    .designer__tile{
        text-align: center;
        padding: 10px;
        margin: 10px;
        line-height: 1;
        width: 150px;

        &:first-child{ margin-left: 0; }

        &.designer__tile--access{
            .designer__tile-title:after{
                font-family: FontAwesome;
                content: "\f13e";
            }            
        }

        &.designer__tile--Locked{
            .designer__tile-title:after{
            content: "\f023";
            }
        }

        .designer__tile-title{
            padding: 0;
            padding-bottom: 10px;
            font-size: 42px;
            text-shadow: 2px 2px rgba(black, 0.2);
            font-weight: bold;
        }

        &+.designer__tile{ margin-left: 10px; }
    }
}

.definition__tags {
    
    .field__label{ vertical-align: top !important; padding-top: 5px !important; }
    .tags{
        background: white;
        border:1px solid $color-primary-60;
        min-height: 100px;
    }

    #add-tag{ 
        width: 70px;
        min-width: 0;
        padding: 5px;
    }

    .definition__tag {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        padding-right: 30px;
        margin: 5px;
        //background-color: $color-secondary-10;
        //border-radius: 3px;
        min-height: 30px;
        cursor: pointer;
        //border-color: $color-secondary-40;
        .fa-remove {
            position: absolute;
            top: 0;
            bottom: 0;
            line-height: 30px;
            width: 20px;
            margin-left: 5px;
            cursor: pointer;

            &:hover {
                color: $color-primary-90;
            }
        }
    }
}

.edit {
    &.edit--tag .edit__information .field__label{
         vertical-align: top;
         padding-top: 5px;
    }
    .list__item a { 
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

@mixin tile-size {
    max-height: 100px;
    min-height: 100px;
    width: 90%;
}


