@import '../_colors';
@import '../units';
@import '../_mixins';

.designer__stage{
    display: table-cell;
    vertical-align: top;

    @media screen and (max-width: 720px){
        &:not(.stage--menu):not(.stage--preview){ 
            padding-left: 44px;
        }
        .stage__workspace{
            padding-right: 10px;
        }
    }
    
}

.stage{ 
    border-top: 1px solid $color-background-menu;
    .designer__add{
        margin: 0 5px;
        height: 40px;
    }

    .designer__recent{
        border-top: 1px solid $color-primary-40;
        margin-top: 10px;
        padding-top: 10px;
        a{
            display: block;
        }
    }
}

.stage__workspace{
    padding:20px;
    min-height: calc(100% - 91px);

    .group__definitions{
        display: flex;
        flex-wrap:wrap;
        .definition{
            margin: 10px;
        }
    }

    .definition__setting{
        position: relative;
        padding: 10px 0;

        .field__value{ 
            font-size: 14px;
            padding-right: 30px;
        }
        .field__label {
             min-width: 120px;
        }

        .definition__setting-remove {
            position: absolute;
            font-family: FontAwesome;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer !important;
            padding: 10px;
            &:after{ content: "\f00d"; }
            &:hover{ color: $color-secondary-50; }
        }
    }

    .definition__tag--active,
    .definition__setting--active,
    .definition__nested-rule--active { 
        background-color: $color-action-10 !important;
        color: $color-action-70 !important;
        
    }

    .definition__setting--active,
    .definition__nested-rule--active {
        transition: background-color 0.3s ease-in-out;
    }

    .definition__rule {
        .expandable__label > .field .field__value{ opacity: 0.8; }
        &:after{
            position: absolute;
            font-family: FontAwesome;
            content: "\f02b";
            right: 10px;
            padding: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .expandable__header { 
        position: relative;
    }

    .expandable__button { 
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -8px;
    }

    .expandable__content{
        font-size: 10px;
        padding: 10px;
    }

    .definition__overrides{
        padding-left: 8px;
        opacity: 0.7;
        border-left: 2px solid $color-primary-60;

        li {
            .field__label,
            .field__value{
                font-size: 12px;
            }

            .field__label{ padding-right: 10px; }
        }
    }
}

.stage__menu{
    background-color: $color-background-menu-2;
    border-bottom: 1px solid $color-primary-60;
    .button{
        line-height: 1.2;
        padding: 10px 15px;
        &:before{ 
            display: block;
            font-family: FontAwesome;
            font-size: 20px;
        }
    }

    .stage__back:before{ content: "\f060"; }
    .stage__save:before{ content: "\f0c7"; }
    .stage__delete:before{ content: "\f014"; }
}


