@import '../mixins';

.dialog{
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: 1000;
    cursor: default;

    .dialog__container{
        position: relative;
        height: 100%;
    }

    .dialog__window{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 400px;
        background: $color-primary-10;
        //border:1px solid $color-primary-60;
        z-index: 100;
        @include soft-shadow();
    }

    .dialog__header,
    .dialog__content,
    .dialog__buttons{
        padding: 20px;
    }

    .dialog__header{
        display: flex;
        align-items: center;
        font-size: 22px;
        padding-bottom: 10px;
        padding-top: 10px;
        background: rgba(white, 0.7);

        &>div{
            display: table-cell;
            &:first-child{ width: 99%; }
            .dialog__close{
                padding: 0;
                min-width: 44px;
                font-size: 22px;
                margin-right: -10px;

            }


        }
    }

    .dialog__content{
        min-height: 80px;
        max-height: calc(100vh - 340px);
        overflow-y: auto;
    }

    .dialog__buttons{
        text-align:right;
        //border-top: 1px solid $color-primary-60;
        button{
            height: 40px;
        }
    }
}