@import '../colors';
@import '../units';
@import '../mixins';

.expandable {
    .expandable__header {
        display: table;
        width: 100%;
    }
    .expandable__button{
        
    }

    .expandable__label{
        padding-left: 30px;
    }

    .expandable__button,
    .expandable__label {
        display: table-cell;
        vertical-align: middle;

        .expandable__icon {
            font-family: "typicons";
            min-width: 0;
            padding: 0 10px;
            color: $color-primary-80;
            background: none;

            &:hover{
                color: $color-primary-90;
            }

            &:after {
                display: inline-block;
                content: "\e01d";
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }

    &.expandable--closed {
        .expandable__button .expandable__icon:after {
            transform: rotate(-90deg);
        }
    }
}
