@import '../_colors';
@import '../units';
@import '../_mixins';

// MOBILE ( < 720px  )
// ================================
.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    

    .field__label{
        display: block;
        vertical-align: middle;
        word-break: break-word;
        font-size: 14px;
    }

    .field__value{
        display: inline-block;
        width: 70%;
        padding: 5px 0;
        vertical-align: middle;
        min-height: 30px;
    }

    input, select { 
        width: 100%;
    }
}

@mixin field-glow($color) {
    box-shadow: $color 0 0 8px 0;
}

input, .input,
select { 
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    border: none;
    background: white;
    border: 1px solid $color-primary-60;
    &:hover{ border-color: $color-primary-80; }
    &:focus { 
        border-color: $color-action-60;
        @include field-glow($color-action-50);
        outline: none;
    }
}

input {
    padding-left: 10px;
}


// DESKTOP ( >= 720px  )
// ================================
@media (min-width: 720px) {
    .field { 
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;


        .field__label,
        .field__value,
        .field__after {
            display: inline-block;
            margin: 0;
            padding: 0;
            min-width: 100px;
        }

        .field__label {
            width: 150px;
        }

        .field__after{
            width: 100px;
        }

        .field__value{
            padding: 0 5px;
            max-width: 320px;
        }

        &.field--embed-after .field__value{
            max-width: 225px;
        }


    }
}
