@import '../_colors';
@import '../units';
@import '../_mixins';

// MOBILE ( < 720px  )
// ================================
.field{
    width: 100%;
    margin: 20px 0;
    

    .field__label{
        display: block;
        margin: 3px 0;
        //font-weight: bold;
        vertical-align: middle;
        word-break: break-word;
        font-size: 14px;
    }

    .field__value{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        min-height: 30px;
    }

    input, select { 
        width: 100%;
        max-width: 320px;
    }
}

@mixin field-glow($color) {
    box-shadow: $color 0 0 8px 0;
}

input, .input,
select { 
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    border: none;
    background: white;
    border: 1px solid $color-primary-60;
    &:hover{ border-color: $color-primary-80; }
    &:focus { 
        border-color: $color-action-60;
        @include field-glow($color-action-50);
        outline: none;
    }
}

input {
    padding-left: 10px;
}


// DESKTOP ( >= 720px  )
// ================================
@media (min-width: 720px) {
    .field { 
        display: table;
        width: 100%;

        

        .field__label,
        .field__value,
        .field__after {
            display: table-cell;
            margin: 0;
            padding: 5px;
        }

        .field__label { 
            min-width: 100px;
            padding: 5px 0;
        }
    }

    .field-group{
        display: table;
        width: 100%;
        .field{ display: table-row; }
    }
}
