@import '../_colors';
@import '../units';
@import '../_mixins';

.library { 
    position: relative;
}

.library__list {
    padding: 10px;
}

.library__create{
    margin-bottom: 20px;
}

.library__game {
    padding: 0;

    a {
        display:table;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .game__column{
        display: table-cell;
        padding: 10px;

        &.game__column--icons{
            background: white;
            width: 60px;
        }

        &.game__column--summary{
        }

        &.game__column--dates{
            white-space: nowrap;
            text-align: right;
            width: 1%;
        }
    }

    .game__name{
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.game-summary{
    padding: 10px;
    margin: 10px 0;
    background-color: $color-primary-50;
    label{
        color: $color-primary-80;
        font-weight: 600;
    }    
}

.library__other-filters {
    background: $color-primary-10;
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 0;
}

.edit-section{
    border-top: 1px solid $color-primary-10;
    margin-top: 10px;
    padding-top: 10px;
    a{
        background-color: $color-primary-10;
    }
    .delete {
        float: right;
    }
}