@import '../_colors';
@import '../units';
@import '../_mixins';

.library { background-color: $color-primary-30; }

.game-summary{
    padding: 10px;
    margin: 10px 0;
    background-color: $color-primary-50;
    label{
        color: $color-primary-80;
        font-weight: 600;
    }    
}

.library__other-filters {
    background: $color-primary-10;
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 0;
}

.edit-section{
    border-top: 1px solid $color-primary-10;
    margin-top: 10px;
    padding-top: 10px;
    a{
        background-color: $color-primary-10;
    }
    .delete {
        float: right;
    }
}