@import '../_colors';
@import '../units';
@import '../_mixins';


h1{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

h3 {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    background-color: $color-background-menu;
}

h4 { 
    margin: 0 0 20px 0;
    &+.summary {
        margin-top: -15px;
    }
}

h5 {
    margin: 3px 0;
}

.breadcrumb{
    font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
    &:after{
        font-family: FontAwesome;
        content: "\f105";
        padding: 0 5px;
        margin-right: 5px;
        vertical-align: bottom;
    }
    & + .emphasis { vertical-align: bottom; }
}