@import '../units';

.shrinky {
    position: fixed;
    top: $size-nav-height;
    z-index: 100;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    h1{
        transition: all 0.7s ease-in-out;
        transform: translateY(0);
    }

    .tab { transition: font-size 0.3s ease-in-out; }


    &.shrinky--shrink {
        transform: translateY(-75px);
        h1{ opacity: 0; transform: translateY(-10px); }
        .tab {  font-size: 14px; }
    }

}

.shrinky__stick{
    position: relative;
}