@import '../colors';
@import '../units';
@import '../mixins';

.sortable{
    //border-left: 10px solid $color-primary-60;
    //border-radius: 5px 0 0 5px;

    .sortable__item{
        display: table;
        width: 100%;
        border: 1px solid $color-primary-60;
        user-select: none;
        background: $color-primary-10;

        &:not(:last-child){ border-bottom: none; }
        &:not(.sortable__item--disabled){
            
            &:hover{ background: $color-primary-20; }
            .sortable__handle{ cursor: move; }
        }

        &.sortable__item--disabled{ cursor: default; }
    }

    .sortable__slot{
        display: block;
        &:last-child{border-bottom: 1px solid $color-primary-60;}
    }

    .sortable__content,
    .sortable__handle{
        display: table-cell;
        vertical-align: middle;
    }
    .sortable__content{
        padding: 10px; 
    }
    .sortable__handle{
        width: 30px;
        text-align: center;
        background: white;

        &:hover{
            color: $color-action-40;
        }
        &:after{
            font-family: "typicons";
            font-size: 18px;
            //content: "\e021";
        }
    }

    &.sortable--dragging{
        .sortable__item--dragging { opacity: 0.5; }

        .sortable__slot{ 
            &:hover,
            &.sortable__slot--active { 
                background: $color-action-10;
                height: 35px;
                border: 1px solid $color-action-30;
                &+.sortable__item{ border-top: none; }
            }
        }
    }

    .field { margin: 0; }
}