@{ 
    ViewBag.Title = "Games Library";
}

<div id="library"></div>

@section scripts{
    <script type="text/javascript">
        ReactDOM.render(
            React.createElement(Library.Provider),
            document.getElementById('library')
        );
    </script>
}
