@import 'colors';
@import 'units';
@import 'mixins';

.loading-bar{
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
    right: 0;
    @include gradient-animate-pattern($color-secondary-70);
    text-align: center;
    border-bottom: 1px solid $color-secondary-50;
    box-shadow: inset 0 0 2px rgba(black, 0.3);
}

.bold{
    font-weight: bold;
    padding: 3px 0;
}

.separator{
    display: block;
    height: 10px;

    &.separator--tiny       { height: 10px; }
    &.separator--small      { height: 20px; }
    &.separator--medium     { height: 40px; }
    &.separator--large      { height: 80px; }
}

.note{ 
    color: rgba(black, .4);
    font-style: italic;
    font-size: 14px;
}

.summary { 
    font-size: 12px;
    line-height: 1.2;
}

.emphasis { 
    font-weight: 500;
    color: $color-secondary-50;
}

.list{
    .list__item{
        //border-bottom: 1px solid rgba(black, 0.1);
        //&:last-child{ border-bottom: none; }
        //&:nth-child(even){ background: rgba(black, 0.05); }
        //&:hover { background: rgba(white, 0.7); }
    }
}

.section--secondary{
    background-color: $color-secondary-70;
}

.section--summary{
    padding: 10px;
    color: $color-primary-10;

    h1{ text-shadow: 2px 2px rgba(black, 0.2); }
}

.no-results{
    text-align: center;
    opacity: 0.6;

    &:after{
        font-family: FontAwesome;
        content: "";
    }
}

.panel {
    background: $color-primary-10;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid $color-primary-60;

    @include soft-shadow();

    &.panel--centered{
        text-align: center;
    }

    &.panel--clickable{
        &:hover{
            background: $color-secondary-10;
            border-color: $color-secondary-60;
        }
    }

    h4 {
        margin: -10px;
        margin-bottom: 20px;
        background: rgba(white, 0.7);
        padding: 10px;
        font-size: 20px;
    }
}

// DESKTOP ( >= 720px  )
// ================================
@media (min-width: 720px) {
    
}
