// Nav ----------------------------
$size-nav-height: 55px;
$size-nav-left-width: 200px;
$size-nav-right-width: 300px;

// Footer -------------------------
$size-footer-height: 80px;

$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-x-large: 20px;