@charset "UTF-8";
@import url(Fonts/font-awesome.min.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, main, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.separator {
  display: block;
  height: 10px; }
  .separator.separator--small {
    height: 20px; }
  .separator.separator--medium {
    height: 40px; }
  .separator.separator--large {
    height: 80px; }

.note {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-size: 14px; }

.summary {
  font-size: 12px;
  line-height: 1.2; }

.emphasis {
  font-weight: 500;
  color: #1088b6; }

.list .list__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .list .list__item:last-child {
    border-bottom: none; }

.section--summary {
  background-color: #0d6d92;
  color: whitesmoke; }
  .section--summary h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.panel {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 3px;
  margin: 10px 0; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  font-family: Arial;
  color: #6f6f6f;
  overflow-x: hidden; }
  html body {
    position: relative;
    padding-top: 55px;
    min-height: 100%;
    height: 100%;
    background-color: #e0e0e0;
    overflow-x: hidden; }

a {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #1088b6; }
  a:visited, a:active, a:link {
    color: #1088b6; }
  a:hover {
    color: #0e7aa4; }

b {
  font-weight: 600; }

.icon:after {
  /*display: inline-block;
        width: 44px;
        height: 44px;*/ }

.icon.icon--list:after {
  font-family: FontAwesome;
  content: "";
  font-size: 22px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.icon.icon--settings:after {
  font-family: FontAwesome;
  content: "";
  font-size: 22px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.icon.icon--search:after {
  font-family: FontAwesome;
  content: "";
  font-size: 22px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

#nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 1000;
  font-size: 14px;
  background-color: #1088b6;
  border-bottom: 2px solid #1088b6;
  background-image: -moz-linear-gradient(top, #0e7aa4 0, #0f81ad 100%);
  background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0e7aa4), color-stop(100%, #0f81ad));
  background-image: -webkit-linear-gradient(top, #0e7aa4 0, #0f81ad 100%);
  background-image: -o-linear-gradient(top, #0e7aa4 0, #0f81ad 100%);
  background-image: -ms-linear-gradient(top, #0e7aa4 0, #0f81ad 100%);
  background-image: linear-gradient(to bottombottom, #0e7aa4 0, #0f81ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7aa4', endColorstr='#0f81ad',GradientType=0 );
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); }
  #nav.sticky {
    background-color: #6f6f6f; }
  #nav > .container {
    height: 55px; }
  #nav .nav-group {
    position: relative; }
    #nav .nav-group#nav-site {
      text-align: left; }
      #nav .nav-group#nav-site .arrow {
        left: 16px; }
    #nav .nav-group#nav-account {
      text-align: right; }
      #nav .nav-group#nav-account .arrow {
        right: 14px; }
    #nav .nav-group .toggle {
      display: inline-block;
      color: #eeeeee;
      cursor: pointer;
      font-size: 24px;
      padding: 0 15px;
      vertical-align: middle;
      line-height: 55px;
      height: 55px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }
      #nav .nav-group .toggle:hover, #nav .nav-group .toggle.t-open {
        color: whitesmoke; }
      #nav .nav-group .toggle.fa-navicon {
        float: left; }
      #nav .nav-group .toggle.fa-user {
        float: right; }
    #nav .nav-group ul {
      position: absolute;
      display: none;
      width: 100%;
      white-space: nowrap;
      background-color: whitesmoke;
      top: 50px; }
      #nav .nav-group ul.open {
        display: block; }
      #nav .nav-group ul .arrow {
        position: absolute;
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid whitesmoke; }
      #nav .nav-group ul li {
        display: block;
        height: 40px;
        line-height: 40px;
        width: 100%;
        border-bottom: 1px solid #e4e4e4; }
        #nav .nav-group ul li a {
          display: inline-block;
          height: 100%;
          width: 100%;
          line-height: 1;
          padding: 0 15px;
          color: #1088b6;
          font-weight: 600; }
          #nav .nav-group ul li a:hover {
            color: #0e7aa4; }

@media (min-width: 720px) {
  nav {
    display: block;
    font-size: 14px; }
    nav .nav-group#nav-site {
      float: left; }
    nav .nav-group#nav-account {
      float: right; }
    nav .nav-group .toggle {
      display: none; }
    nav .nav-group ul {
      position: static;
      display: inline-block;
      width: auto;
      background: none;
      border: none; }
      nav .nav-group ul .arrow {
        display: none; }
      nav .nav-group ul li {
        display: inline-block;
        height: 100%;
        line-height: 55px;
        width: auto;
        border: none; }
        nav .nav-group ul li a {
          color: whitesmoke !important; } }

.footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  border-top: 1px solid #c7c7c7;
  background-color: #DDD; }
  .footer .footer__nav,
  .footer .footer__message {
    min-height: 50px;
    padding: 10px; }
  .footer .footer__message {
    background-color: #c7c7c7; }
  .footer .footer__nav li {
    display: inline-block; }
  .footer .footer__nav .footer__link {
    padding: 5px;
    font-size: 10px; }
  @media screen and (max-width: 420px) {
    .footer .footer__nav li {
      width: 50%; } }

.library {
  background-color: #e4e4e4; }

.game-summary {
  padding: 10px;
  margin: 10px 0;
  background-color: #DDD; }
  .game-summary label {
    color: #6f6f6f;
    font-weight: 600; }

.library__other-filters {
  background: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  padding-top: 0; }

.edit-section {
  border-top: 1px solid whitesmoke;
  margin-top: 10px;
  padding-top: 10px; }
  .edit-section a {
    background-color: whitesmoke; }
  .edit-section .delete {
    float: right; }

.message {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 12px; }
  .message.warning {
    background-color: #88c4db; }
  .message.information {
    background-color: whitesmoke; }

button,
.button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background: #0d6d92;
  color: whitesmoke;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px; }
  button:hover,
  .button:hover {
    background-color: #1088b6; }
  button:active,
  .button:active {
    background-color: #0d6d92; }
  button + button,
  .button + button {
    margin-left: 5px; }
  button.button--primary,
  .button.button--primary {
    background-color: #b1b1b1; }
    button.button--primary:hover,
    .button.button--primary:hover {
      background-color: #909090; }
  button.button--tertiary,
  .button.button--tertiary {
    background-color: #97be5a; }
    button.button--tertiary:hover,
    .button.button--tertiary:hover {
      background-color: #7DAE31; }
  button.button--action,
  .button.button--action {
    background-color: #e5c066; }
    button.button--action:hover,
    .button.button--action:hover {
      background-color: #e1b853; }
  button.button--transparent,
  .button.button--transparent {
    color: #6f6f6f;
    background-color: transparent; }
    button.button--transparent:hover,
    .button.button--transparent:hover {
      color: #424242;
      border-color: #424242; }
  button:disabled, button[disabled],
  .button:disabled,
  .button[disabled] {
    cursor: default;
    opacity: 0.25;
    pointer-events: none; }

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0; }

h3 {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  background-color: whitesmoke; }

h4 {
  font-weight: bold;
  margin: 20px 0;
  padding-bottom: 3px;
  border-bottom: 2px solid #2894bd; }
  h4 + .summary {
    margin-top: -10px; }

h5 {
  margin: 3px 0; }

.breadcrumb {
  font-size: 16px;
  font-weight: normal;
  vertical-align: bottom; }
  .breadcrumb:after {
    font-family: FontAwesome;
    content: "\f105";
    padding: 0 5px;
    margin-right: 5px;
    vertical-align: bottom; }
  .breadcrumb + .emphasis {
    vertical-align: bottom; }

.tab {
  display: inline-block;
  margin-right: 1px;
  background: none;
  color: #DDD;
  border: none;
  outline: none;
  user-select: none; }
  .tab label {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px 3px 0 0; }
  .tab input {
    position: absolute;
    left: -99999px; }
    .tab input:checked + label {
      color: #6f6f6f;
      background: whitesmoke; }
  .tab:hover label {
    color: white; }

.tab-group {
  text-align: left;
  padding: 0 10px;
  background-color: #0d6d92;
  border-bottom: 10px solid whitesmoke; }

.stage {
  flex-grow: 3;
  border-top: 1px solid whitesmoke;
  padding-bottom: 100px; }
  .stage .designer__add {
    margin: 0 10px; }

.stage__workspace {
  padding: 20px; }
  .stage__workspace .banner {
    padding-right: 20px; }
  .stage__workspace .definition__tag,
  .stage__workspace .definition__setting {
    border: 1px solid whitesmoke;
    padding: 10px 0; }
  .stage__workspace .definition__setting {
    position: relative; }
    .stage__workspace .definition__setting .field__value {
      font-size: 14px; }
    .stage__workspace .definition__setting .field__label {
      min-width: 120px; }
    .stage__workspace .definition__setting .definition__setting-remove {
      position: absolute;
      font-family: FontAwesome;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer !important;
      padding: 10px; }
      .stage__workspace .definition__setting .definition__setting-remove:after {
        content: "\f00d"; }
      .stage__workspace .definition__setting .definition__setting-remove:hover {
        color: #1088b6; }
  .stage__workspace .definition__tag--active,
  .stage__workspace .definition__setting--active,
  .stage__workspace .definition__nested-rule--active {
    background-color: #efd8a0 !important;
    color: #b28d33 !important;
    transition: background-color 0.3s ease-in-out; }
  .stage__workspace .definition__rule .expandable__label > .field .field__value {
    opacity: 0.6; }
  .stage__workspace .definition__rule:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f02b";
    right: 10px;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .stage__workspace .expandable__header {
    position: relative; }
    .stage__workspace .expandable__header .field__label {
      padding-left: 15px !important; }
  .stage__workspace .expandable__button {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px; }
  .stage__workspace .expandable__content {
    font-size: 10px;
    padding: 10px; }
  .stage__workspace .definition__overrides {
    padding-left: 10px;
    border-left: 2px solid #c7c7c7; }
    .stage__workspace .definition__overrides li {
      padding: 5px;
      opacity: 0.6; }
      .stage__workspace .definition__overrides li .field__label,
      .stage__workspace .definition__overrides li .field__value {
        padding: 0;
        font-size: 12px; }
      .stage__workspace .definition__overrides li .field__label {
        padding-right: 10px; }

.stage__menu {
  background-color: #eeeeee;
  padding-left: 240px; }
  .stage__menu .button {
    line-height: 1.2;
    padding: 10px 15px; }
    .stage__menu .button:before {
      display: block;
      font-family: FontAwesome;
      font-size: 20px; }
  .stage__menu .stage__back:before {
    content: "\f060"; }
  .stage__menu .stage__save:before {
    content: "\f0c7"; }
  .stage__menu .stage__delete:before {
    content: "\f014"; }

.designer__summary {
  padding: 10px; }

.designer__views {
  position: relative; }
  .designer__views h3 {
    padding: 0 0 10px 20px; }

.designer__list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  background: whitesmoke;
  border-top-right-radius: 3px;
  min-height: 400px;
  z-index: 10;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }
  @media screen and (min-width: 721px) {
    .designer__list ~ .stage:not(.stage--menu) .stage__workspace,
    .designer__list ~ .stage:not(.stage--menu) h3 {
      padding-left: 250px; } }
  .designer__list h3 {
    border-top-left-radius: 3px; }
  .designer__list.designer__list--empty {
    display: none; }
    .designer__list.designer__list--empty ~ .designer__stage .stage__menu {
      display: none; }
  @media screen and (max-width: 720px) {
    .designer__list.designer__list--closed {
      -moz-transform: translateX(-90%);
      -ms-transform: translateX(-90%);
      -o-transform: translateX(-90%);
      -webkit-transform: translateX(-90%);
      transform: translateX(-90%); }
      .designer__list.designer__list--closed .designer__list-items {
        -moz-transform: translateX(-80px);
        -ms-transform: translateX(-80px);
        -o-transform: translateX(-80px);
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
        visibility: hidden; }
      .designer__list.designer__list--closed ~ .stage:not(.stage--menu) {
        padding-left: 20px; }
        .designer__list.designer__list--closed ~ .stage:not(.stage--menu) .stage__menu {
          padding-left: 10px; } }
  .designer__list .designer__list-actions {
    position: relative;
    margin-bottom: 10px; }
    .designer__list .designer__list-actions button {
      height: 40px;
      width: 100%;
      margin: 0;
      margin-bottom: 5px;
      text-align: left; }
    .designer__list .designer__list-actions .designer__mini-buttons {
      display: flex;
      border-bottom: 2px solid #c7c7c7; }
      .designer__list .designer__list-actions .designer__mini-buttons button {
        flex-grow: 1;
        text-align: center;
        width: 44px;
        background: transparent;
        transition: flex-grow 0.3s ease-in-out;
        border-bottom: 2px solid #c7c7c7;
        border-radius: 3px 3px 0 0;
        margin-bottom: -2px;
        color: #b1b1b1; }
        .designer__list .designer__list-actions .designer__mini-buttons button:after {
          float: none;
          text-shadow: none; }
        .designer__list .designer__list-actions .designer__mini-buttons button:hover {
          color: #6f6f6f;
          border-color: #b1b1b1;
          flex-grow: 1.5; }
        .designer__list .designer__list-actions .designer__mini-buttons button.button--active {
          color: #1088b6;
          border-color: #1088b6; }
          .designer__list .designer__list-actions .designer__mini-buttons button.button--active:after {
            text-shadow: none; }
  .designer__list .designer__undo:after {
    font-family: FontAwesome;
    content: "";
    font-size: 22px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }
  .designer__list .designer__redo:after {
    font-family: FontAwesome;
    content: "";
    font-size: 22px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }
  .designer__list .designer__toggle {
    padding: 0; }
    .designer__list .designer__toggle:before {
      font-family: FontAwesome;
      content: "";
      font-size: 22px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      text-shadow: none;
      font-size: 32px;
      vertical-align: top; }
  .designer__list .designer__add:before {
    font-family: FontAwesome;
    content: "";
    font-size: 22px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-right: 10px; }
  .designer__list .designer__list-items {
    -moz-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out; }
  .designer__list .designer__list-item {
    position: relative;
    margin: 5px 0; }
    .designer__list .designer__list-item:first-child button {
      border-radius: 3px 3px 0 0; }
    .designer__list .designer__list-item:last-child {
      border: none; }
      .designer__list .designer__list-item:last-child button {
        border-radius: 0 0 3px 3px; }
    .designer__list .designer__list-item button {
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      height: 40px;
      border-radius: 0; }
    .designer__list .designer__list-item .setting--active {
      opacity: 0.6; }
    .designer__list .designer__list-item.designer__list-item--selected button {
      background-color: #6f6f6f;
      /*&:after{
                    position: absolute;
                    top: 0;
                    right: -19px;
                    content: "";
                    @include arrow-right(20px, $bg-list-item--active);
                }*/ }

.designer__tiles {
  display: flex; }
  .designer__tiles .designer__tile {
    height: 100px;
    width: 100px; }

.definition__tags .field__label {
  vertical-align: top !important; }

.definition__tags #add-tag {
  width: 70px;
  min-width: 0; }

.definition__tags .definition__tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #eeeeee;
  border-radius: 3px;
  min-height: 30px;
  cursor: pointer; }
  .definition__tags .definition__tag .fa-remove {
    margin-left: 5px;
    cursor: pointer; }
    .definition__tags .definition__tag .fa-remove:hover {
      color: #1088b6; }

.edit .edit__information {
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 1px dashed #c7c7c7;
  border-right: none;
  border-left: none; }

.edit .list__item a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px; }

.field {
  width: 100%;
  margin: 20px 0; }
  .field .field__label {
    display: block;
    margin: 3px 0;
    font-weight: 600;
    vertical-align: middle;
    word-break: break-word;
    font-size: 14px; }
  .field .field__value {
    width: 100%;
    vertical-align: middle; }
  .field input, .field select {
    width: 100%;
    max-width: 320px; }

input,
select {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border: none;
  border-radius: 3px;
  background: white;
  border: 1px solid #b1b1b1; }
  input:focus,
  select:focus {
    border-color: #deb040;
    box-shadow: #e1b853 0 0 8px 0;
    outline: none; }

@media (min-width: 420px) {
  .field {
    display: table;
    width: 100%; }
    .field .field__label {
      padding: 10px;
      min-width: 100px; }
    .field .field__value {
      padding-left: 10px; }
    .field .field__label,
    .field .field__value {
      display: table-cell;
      margin: 0; }
  .field-group {
    display: table;
    width: 100%; }
    .field-group .field {
      display: table-row; } }

.banner {
  display: table;
  width: 100%;
  background: #eeeeee;
  border-left: 1px dashed #c7c7c7; }
  .banner .banner__content {
    display: table-cell;
    padding: 10px;
    vertical-align: middle; }
  .banner .banner__icon {
    display: table-cell;
    width: 1%;
    padding: 10px;
    color: #1088b6; }
    .banner .banner__icon:after {
      font-family: FontAwesome;
      vertical-align: top;
      font-size: 32px; }
  .banner.banner--info .banner__icon:after {
    content: ""; }
  .banner.banner--warning .banner__icon:after {
    content: ""; }
  .banner.banner--linked .banner__icon:after {
    content: ""; }

.sortable {
  border-left: 10px solid #c7c7c7;
  border-radius: 5px 0 0 5px; }
  .sortable .sortable__item {
    border: 1px solid #c7c7c7;
    user-select: none;
    background: #e4e4e4; }
    .sortable .sortable__item:not(:last-child) {
      border-bottom: none; }
    .sortable .sortable__item:not(.sortable__item--disabled) {
      cursor: move; }
      .sortable .sortable__item:not(.sortable__item--disabled):hover {
        background: #DDD; }
      .sortable .sortable__item:not(.sortable__item--disabled) label {
        cursor: move !important; }
    .sortable .sortable__item.sortable__item--disabled {
      cursor: default; }
  .sortable .sortable__slot {
    display: block; }
    .sortable .sortable__slot:last-child {
      border-bottom: 1px solid #c7c7c7; }
  .sortable.sortable--dragging .sortable__item--dragging {
    opacity: 0.5; }
  .sortable.sortable--dragging .sortable__slot:hover, .sortable.sortable--dragging .sortable__slot.sortable__slot--active {
    background: #f5e7c6;
    height: 35px;
    border: 1px solid #e5c066; }
    .sortable.sortable--dragging .sortable__slot:hover + .sortable__item, .sortable.sortable--dragging .sortable__slot.sortable__slot--active + .sortable__item {
      border-top: none; }
  .sortable .field {
    margin: 0; }

.expandable .expandable__header {
  display: table;
  width: 100%; }

.expandable .expandable__button,
.expandable .expandable__label {
  display: table-cell;
  vertical-align: middle; }
  .expandable .expandable__button .expandable__icon,
  .expandable .expandable__label .expandable__icon {
    font-family: FontAwesome; }
    .expandable .expandable__button .expandable__icon:after,
    .expandable .expandable__label .expandable__icon:after {
      display: inline-block;
      content: "\f0d7";
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out; }

.expandable .expandable__button {
  border: 1px solid whitesmoke; }

.expandable.expandable--closed .expandable__button .expandable__icon:after {
  transform: rotate(-90deg); }

