@charset "UTF-8";
@import url(Fonts/font-awesome.min.css);
@import url(Fonts/Ionicons/ionicons.min.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, main, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.loading-bar {
  position: absolute;
  height: 15px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0d6d92;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(5, 41, 55, 0.2) 15px, rgba(5, 41, 55, 0.2) 30px), linear-gradient(90deg, #08445b, #2894bd, #08445b);
  background-size: 200% 200%;
  -webkit-animation: bganimate 20s linear infinite;
  -moz-animation: bganimate 20s linear infinite;
  animation: bganimate 20s linear infinite;
  text-align: center;
  border-bottom: 1px solid #1088b6;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

@-webkit-keyframes bganimate {
  0% {
    background-position: 0% 51%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 51%; } }

@-moz-keyframes bganimate {
  0% {
    background-position: 0% 51%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 51%; } }

@keyframes bganimate {
  0% {
    background-position: 0% 51%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 51%; } }

.bold {
  font-weight: bold;
  padding: 3px 0; }

.separator {
  display: block;
  height: 10px; }
  .separator.separator--tiny {
    height: 10px; }
  .separator.separator--small {
    height: 20px; }
  .separator.separator--medium {
    height: 40px; }
  .separator.separator--large {
    height: 80px; }

.note {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-size: 14px; }

.summary {
  font-size: 12px;
  line-height: 1.2; }

.emphasis {
  font-weight: 700;
  color: #1088b6; }

.list .list__item button {
  text-align: left; }

.section--secondary {
  background-color: #0e7aa4;
  background-image: url(../Content/Images/cubes.png); }

.section--summary {
  padding: 10px;
  color: #f8f8f8; }
  .section--summary h1 {
    color: white;
    text-shadow: 2px 2px #0d6d92; }

.no-results {
  text-align: center;
  opacity: 0.6; }
  .no-results:after {
    font-family: FontAwesome;
    content: ""; }

.panel {
  background: #f8f8f8;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e0e0e0; }
  .panel + .panel {
    margin-top: 20px; }
  .panel.panel--centered {
    text-align: center; }
  .panel.panel--clickable:hover {
    background: #b7dbe9;
    border-color: #0e7aa4; }
  .panel h4 {
    margin: -10px;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    font-size: 22px; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
  font-kerning: normal;
  font-size: 12px;
  color: #6f6f6f;
  overflow-x: hidden; }
  html body {
    position: relative;
    padding-top: 55px;
    background-color: #eeeeee;
    overflow-x: hidden;
    background-color: #eee;
    background-image: url(../Content/Images/cubes_dark.png); }

html, body {
  height: 100%; }

#content {
  min-height: 100%;
  margin-bottom: -80px; }
  #content:after {
    display: block;
    content: "";
    height: 80px; }

a {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color: #1088b6; }
  a:visited, a:active, a:link {
    color: #1088b6; }
  a:hover {
    color: #0e7aa4; }

b {
  font-weight: 600; }

::-webkit-scrollbar-track {
  background-color: #ddd;
  margin-left: 5px; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-thumb {
  background-color: #6f6f6f; }

.icon:after {
  /*display: inline-block;
        width: 44px;
        height: 44px;*/ }

.icon.icon--list:after {
  font-family: "Ionicons";
  content: "";
  font-size: 28px;
  vertical-align: middle; }

.icon.icon--settings:after {
  font-family: "Ionicons";
  content: "";
  font-size: 28px;
  vertical-align: middle; }

.icon.icon--search:after {
  font-family: "Ionicons";
  content: "";
  font-size: 28px;
  vertical-align: middle; }

#nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 1000;
  font-size: 14px;
  background-color: #1088b6;
  border-bottom: 1px solid #2894bd;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  #nav.sticky {
    background-color: #6f6f6f; }
  #nav > .container {
    height: 55px; }
  #nav .nav-group {
    position: relative; }
    #nav .nav-group#nav-site {
      text-align: left; }
      #nav .nav-group#nav-site .arrow {
        left: 16px; }
    #nav .nav-group#nav-account {
      text-align: right; }
      #nav .nav-group#nav-account .arrow {
        right: 14px; }
    #nav .nav-group .toggle {
      font-family: "Ionicons";
      display: inline-block;
      color: #eeeeee;
      cursor: pointer;
      font-size: 38px;
      padding: 0 15px;
      vertical-align: middle;
      line-height: 55px;
      height: 55px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }
      #nav .nav-group .toggle:hover, #nav .nav-group .toggle.t-open {
        color: #f8f8f8; }
      #nav .nav-group .toggle.nav__menu {
        float: left; }
        #nav .nav-group .toggle.nav__menu:after {
          content: "\f394"; }
      #nav .nav-group .toggle.nav__user {
        float: right; }
        #nav .nav-group .toggle.nav__user:after {
          content: "\f3a0"; }
    #nav .nav-group ul {
      position: absolute;
      display: none;
      width: 100%;
      white-space: nowrap;
      background-color: #f8f8f8;
      top: 50px; }
      #nav .nav-group ul.open {
        display: block; }
      #nav .nav-group ul .arrow {
        position: absolute;
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f8f8f8; }
      #nav .nav-group ul li {
        display: block;
        height: 40px;
        line-height: 40px;
        width: 100%;
        border-bottom: 1px solid #e4e4e4; }
        #nav .nav-group ul li a {
          display: inline-block;
          height: 100%;
          width: 100%;
          line-height: 1;
          padding: 0 15px;
          color: #1088b6;
          font-weight: 600; }
          #nav .nav-group ul li a:hover {
            color: #0e7aa4; }

@media (min-width: 720px) {
  nav {
    display: block;
    font-size: 14px; }
    nav .nav-group#nav-site {
      float: left; }
    nav .nav-group#nav-account {
      float: right; }
    nav .nav-group .toggle {
      display: none; }
    nav .nav-group ul {
      position: static;
      display: inline-block;
      width: auto;
      background: none;
      border: none; }
      nav .nav-group ul .arrow {
        display: none; }
      nav .nav-group ul li {
        display: inline-block;
        height: 100%;
        line-height: 55px;
        width: auto;
        border: none; }
        nav .nav-group ul li a {
          color: #f8f8f8 !important; } }

#footer {
  display: block;
  height: 80px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: -1px; }
  #footer .footer__nav {
    padding: 10px; }
    #footer .footer__nav li {
      display: inline-block; }
      #footer .footer__nav li:after {
        content: "|"; }
      #footer .footer__nav li:last-child:after {
        content: ""; }
    @media screen and (max-width: 420px) {
      #footer .footer__nav li {
        width: 50%; } }

.library {
  position: relative; }

.library__list {
  padding: 10px; }

.library__create {
  margin-bottom: 20px; }

.library__game {
  padding: 0; }
  .library__game a {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0; }
  .library__game .game__column {
    display: table-cell;
    padding: 10px; }
    .library__game .game__column.game__column--icons {
      background: white;
      width: 60px; }
    .library__game .game__column.game__column--dates {
      white-space: nowrap;
      text-align: right;
      width: 1%; }
  .library__game .game__name {
    font-weight: 600;
    margin-bottom: 10px; }

.game-summary {
  padding: 10px;
  margin: 10px 0;
  background-color: #ddd; }
  .game-summary label {
    color: #6f6f6f;
    font-weight: 600; }

.library__other-filters {
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  padding-top: 0; }

.edit-section {
  border-top: 1px solid #f8f8f8;
  margin-top: 10px;
  padding-top: 10px; }
  .edit-section a {
    background-color: #f8f8f8; }
  .edit-section .delete {
    float: right; }

.message {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 12px; }
  .message.warning {
    background-color: #88c4db; }
  .message.information {
    background-color: #f8f8f8; }

button,
.button {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  cursor: pointer;
  background: #0d6d92;
  color: #f8f8f8;
  border: none;
  outline: none;
  line-height: 12px;
  font-family: inherit;
  min-height: 30px;
  min-width: 75px;
  overflow: hidden; }
  button:hover,
  .button:hover {
    background: #1088b6; }
  button:active,
  .button:active {
    background: #0d6d92; }
  button + button,
  .button + button {
    margin-left: 5px; }
  button.button--primary,
  .button.button--primary {
    background: #b1b1b1; }
    button.button--primary:hover,
    .button.button--primary:hover {
      background: #909090; }
  button.button--tertiary,
  .button.button--tertiary {
    background: #97be5a; }
    button.button--tertiary:hover,
    .button.button--tertiary:hover {
      background: #7DAE31; }
  button.button--action,
  .button.button--action {
    background: #e5c066; }
    button.button--action:hover,
    .button.button--action:hover {
      background: #e1b853; }
  button.button--transparent,
  .button.button--transparent {
    color: #b1b1b1;
    background: none; }
    button.button--transparent:hover,
    .button.button--transparent:hover {
      color: #6f6f6f; }
  button.button--link,
  .button.button--link {
    background: none;
    color: #1088b6; }
    button.button--link:visited, button.button--link:active, button.button--link:link,
    .button.button--link:visited,
    .button.button--link:active,
    .button.button--link:link {
      color: #1088b6; }
    button.button--link:hover,
    .button.button--link:hover {
      color: #0e7aa4; }
  button:disabled, button[disabled],
  .button:disabled,
  .button[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none; }
  button .button__clicky,
  .button .button__clicky {
    background: red; }

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0; }

h3 {
  font-weight: bold;
  padding: 10px;
  font-size: 22px;
  background-color: white; }

h4 {
  margin: 0 0 20px 0; }
  h4 + .summary {
    margin-top: -15px; }

h5 {
  margin: 3px 0; }

.breadcrumb {
  font-size: 16px;
  font-weight: normal;
  vertical-align: bottom; }
  .breadcrumb:after {
    font-family: FontAwesome;
    content: "\f105";
    padding: 0 5px;
    margin-right: 5px;
    vertical-align: bottom; }
  .breadcrumb + .emphasis {
    vertical-align: bottom; }

.tab {
  display: inline-block;
  margin-right: 1px;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 16px; }
  .tab label {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px 6px 0 0; }
  .tab input {
    position: absolute;
    left: -99999px; }
    .tab input:checked + label {
      color: #6f6f6f;
      background: white;
      text-shadow: none; }
  .tab:hover label {
    color: white; }

.tab-group {
  text-align: left;
  padding: 0 10px;
  background: none;
  border-bottom: 10px solid white; }

@media screen and (max-width: 420px) {
  .tab-group {
    display: flex;
    flex-wrap: wrap-reverse; }
  .tab--checked {
    order: -1; } }

.designer__stage {
  display: table-cell;
  vertical-align: top; }
  @media screen and (max-width: 720px) {
    .designer__stage:not(.stage--menu):not(.stage--preview) {
      padding-left: 44px; }
    .designer__stage .stage__workspace {
      padding-right: 10px; } }

.stage {
  border-top: 1px solid white; }
  .stage .designer__add {
    margin: 0 5px;
    height: 40px; }
  .stage .designer__recent {
    text-align: left; }
    .stage .designer__recent .recent__columns {
      display: flex;
      justify-content: center; }
      .stage .designer__recent .recent__columns ul + ul {
        margin-left: 50px; }
      .stage .designer__recent .recent__columns button {
        text-align: left; }
      @media screen and (max-width: 600px) {
        .stage .designer__recent .recent__columns {
          flex-direction: column; }
          .stage .designer__recent .recent__columns ul + ul {
            margin: 30px 0 0 0; } }
    .stage .designer__recent .recent__header {
      font-size: 22px;
      margin-bottom: 10px; }

.designer__link {
  display: block; }
  .designer__link span:nth-child(2) {
    font-size: 12px;
    color: #6f6f6f;
    margin-left: 10px; }

.stage__workspace {
  padding: 20px;
  min-height: calc(100% - 91px);
  max-width: 900px; }
  .stage__workspace > *:first-child {
    margin-top: 0 !important; }
  .stage__workspace .group__definitions {
    display: flex;
    flex-wrap: wrap; }
    .stage__workspace .group__definitions .definition {
      margin: 10px; }
  .stage__workspace .definition__settings {
    padding-left: 5px; }
  .stage__workspace .definition__setting {
    position: relative; }
    .stage__workspace .definition__setting .field__value {
      font-size: 14px;
      padding-right: 30px; }
    .stage__workspace .definition__setting .field__label {
      min-width: 120px; }
    .stage__workspace .definition__setting > .field .field__label,
    .stage__workspace .definition__setting > .field .field__value {
      padding-left: 30px; }
    .stage__workspace .definition__setting .definition__setting-remove,
    .stage__workspace .definition__setting .definition__rule-tag {
      position: absolute;
      font-family: "Ionicons";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      cursor: pointer !important;
      padding: 5px 10px; }
    .stage__workspace .definition__setting .definition__rule-tag:after {
      content: "\f48d"; }
    .stage__workspace .definition__setting .definition__setting-remove:after {
      content: "\f2d7"; }
    .stage__workspace .definition__setting .definition__setting-remove:hover {
      color: #cc4949; }
  .stage__workspace .definition__tag--active {
    background-color: #f5e7c6 !important;
    color: #b28d33 !important; }
  .stage__workspace .definition__setting--active,
  .stage__workspace .definition__nested-rule--active {
    transition: background-color 0.3s ease-in-out; }
    .stage__workspace .definition__setting--active .field__label,
    .stage__workspace .definition__nested-rule--active .field__label {
      color: #c89e3a; }
  .stage__workspace .expandable__header {
    position: relative; }
  .stage__workspace .expandable__button {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8px; }
  .stage__workspace .expandable__content {
    font-size: 10px;
    padding: 5px; }
  .stage__workspace .definition__overrides {
    padding-left: 24px;
    opacity: 0.6; }
    .stage__workspace .definition__overrides li .field__label,
    .stage__workspace .definition__overrides li .field__value {
      font-size: 12px; }
    .stage__workspace .definition__overrides li .field__label {
      padding-right: 10px; }

.stage__menu {
  display: flex;
  align-items: stretch;
  background-color: white;
  border-bottom: 1px solid #e4e4e4; }
  .stage__menu .button {
    position: relative;
    line-height: 1.2;
    padding: 10px;
    min-width: 50px; }
    .stage__menu .button:before, .stage__menu .button:after {
      display: block;
      font-family: "Ionicons";
      font-size: 24px; }
  .stage__menu .divider {
    display: inline-block;
    margin: 10px;
    border-right: 1px solid #e0e0e0; }
  .stage__menu .stage__back:before {
    content: ""; }
  .stage__menu .stage__back:hover {
    color: #6f6f6f; }
  .stage__menu .stage__save:before {
    content: ""; }
  .stage__menu .stage__save:hover {
    color: #7DAE31; }
  .stage__menu .stage__save-all:before {
    content: ""; }
  .stage__menu .stage__save-all:hover {
    color: #7DAE31; }
  .stage__menu .stage__delete:before {
    content: ""; }
  .stage__menu .stage__delete:hover {
    color: #cc4949; }
  .stage__menu .stage__fav:before {
    content: ""; }
  .stage__menu .stage__fav:hover {
    color: #6f6f6f; }
  .stage__menu .stage__unsaved-count {
    position: absolute;
    top: 3px;
    right: 3px;
    text-shadow: 0 0 0 white; }

.designer__add-group {
  margin-bottom: 10px; }

.designer__group {
  display: flex;
  align-items: center; }
  .designer__group > input {
    width: 100%; }
  .designer__group .designer__remove:hover {
    color: #cc4949; }
  .designer__group .designer__remove:after {
    font-family: 'Ionicons';
    content: "\f2d7";
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer; }

.designer {
  position: relative; }

.designer__views {
  position: relative;
  display: table;
  width: 100%; }
  .designer__views h3 {
    padding: 0 0 10px 20px; }

.designer__overlay {
  display: none;
  z-index: 9; }

.designer__list {
  display: table-cell;
  vertical-align: top;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  border: 1px solid #e4e4e4;
  background: white;
  min-height: 400px;
  z-index: 10;
  overflow: visible;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }
  @media screen and (max-width: 720px) {
    .designer__list {
      position: absolute; }
      .designer__list ~ .designer__overlay {
        display: block; } }
  .designer__list h3 {
    border-top-left-radius: 3px; }
  .designer__list.designer__list--empty {
    display: none; }
  @media screen and (max-width: 720px) {
    .designer__list.designer__list--closed {
      -moz-transform: translateX(-156px);
      -ms-transform: translateX(-156px);
      -o-transform: translateX(-156px);
      -webkit-transform: translateX(-156px);
      transform: translateX(-156px); }
      .designer__list.designer__list--closed ~ .designer__overlay {
        display: none; }
      .designer__list.designer__list--closed .designer__mini-buttons {
        flex-direction: column;
        align-items: flex-end;
        margin: -10px -10px 0 0;
        border: none !important; }
        .designer__list.designer__list--closed .designer__mini-buttons button {
          width: 50px;
          padding: 20px 10px;
          border: none !important;
          color: #b1b1b1 !important; }
          .designer__list.designer__list--closed .designer__mini-buttons button:hover {
            color: #6f6f6f !important; }
      .designer__list.designer__list--closed .designer__list-items {
        visibility: hidden; }
      .designer__list.designer__list--closed .designer__list-actions,
      .designer__list.designer__list--closed .designer__list-items {
        padding-right: 0; } }
  .designer__list .designer__list-actions {
    margin-bottom: 10px; }
    .designer__list .designer__list-actions button {
      min-height: 40px;
      width: 100%;
      margin: 0;
      margin-bottom: 5px;
      text-align: left; }
    .designer__list .designer__list-actions .designer__mini-buttons {
      display: flex;
      border-bottom: 2px solid #c7c7c7; }
      .designer__list .designer__list-actions .designer__mini-buttons button {
        flex-grow: 1;
        text-align: center;
        min-width: 0;
        width: 44px;
        background: transparent;
        border-bottom: 2px solid #c7c7c7;
        border-radius: 3px 3px 0 0;
        margin-bottom: -2px;
        color: #b1b1b1; }
        .designer__list .designer__list-actions .designer__mini-buttons button:after {
          float: none;
          text-shadow: none; }
        .designer__list .designer__list-actions .designer__mini-buttons button:hover {
          color: #6f6f6f;
          border-color: #b1b1b1; }
        .designer__list .designer__list-actions .designer__mini-buttons button.button--active {
          color: #1088b6;
          border-color: #1088b6; }
          .designer__list .designer__list-actions .designer__mini-buttons button.button--active:after {
            text-shadow: none; }
  .designer__list .designer__add {
    height: 40px !important;
    margin-bottom: 10px;
    color: white !important; }
    .designer__list .designer__add:before {
      font-family: "Ionicons";
      content: "";
      font-size: 28px;
      vertical-align: middle;
      margin-right: 10px; }
  .designer__list .designer__list-actions,
  .designer__list .designer__list-items {
    padding-right: 5px; }
  .designer__list .designer__list-items {
    overflow-y: auto;
    max-height: calc(100% - 50px);
    -moz-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out; }
  .designer__list .designer__list-item {
    border-left: 5px solid #e4e4e4; }
    .designer__list .designer__list-item:hover {
      background: #eeeeee; }
    .designer__list .designer__list-item button {
      display: block;
      width: 100%;
      text-align: left;
      height: 40px;
      padding: 10px;
      border-radius: 0;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .designer__list .designer__list-item.setting--active .setting__icon:after {
      font-family: "Ionicons";
      content: "\f375";
      margin-right: 5px; }
    .designer__list .designer__list-item.designer__list-item--unsaved {
      border-color: #e5c066 !important; }
      .designer__list .designer__list-item.designer__list-item--unsaved button {
        font-weight: 700; }
        .designer__list .designer__list-item.designer__list-item--unsaved button:before {
          content: "* "; }
    .designer__list .designer__list-item.designer__list-item--selected {
      border-color: #1088b6 !important;
      background: #0d6d92 !important;
      /*&:after{
                position: absolute;
                top: 0;
                right: -20px;
                content: "";
                @include arrow-right(20px, $bg-list-item--active);
            }*/ }
      .designer__list .designer__list-item.designer__list-item--selected .button {
        color: white !important; }
    .designer__list .designer__list-item:first-child:not(.setting) {
      border: none; }

.designer__list-header {
  font-weight: 600;
  padding: 10px;
  padding-left: 0; }

.designer__search input {
  width: 100%;
  margin-bottom: 10px; }

.designer__tiles {
  display: flex;
  flex-wrap: wrap; }
  .designer__tiles .designer__tile {
    text-align: center;
    padding: 10px;
    margin: 10px;
    line-height: 1;
    width: 150px; }
    .designer__tiles .designer__tile:first-child {
      margin-left: 0; }
    .designer__tiles .designer__tile.designer__tile--access .designer__tile-title:after {
      font-family: FontAwesome;
      content: "\f13e"; }
    .designer__tiles .designer__tile.designer__tile--Locked .designer__tile-title:after {
      content: "\f023"; }
    .designer__tiles .designer__tile .designer__tile-title {
      padding: 0;
      padding-bottom: 10px;
      font-size: 42px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      font-weight: bold; }
    .designer__tiles .designer__tile + .designer__tile {
      margin-left: 10px; }

.definition__tags .field__label {
  vertical-align: top !important;
  padding-top: 5px !important; }

.definition__tags .tags {
  background: white;
  border: 1px solid #c7c7c7;
  min-height: 100px; }

.definition__tags #add-tag {
  width: 70px;
  min-width: 0;
  padding: 5px; }

.definition__tags .definition__tag {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  padding-right: 30px;
  margin: 5px;
  min-height: 30px;
  cursor: pointer; }
  .definition__tags .definition__tag .fa-remove {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 30px;
    width: 20px;
    margin-left: 5px;
    cursor: pointer; }
    .definition__tags .definition__tag .fa-remove:hover {
      color: #424242; }

.edit.edit--tag .edit__information .field__label {
  vertical-align: top;
  padding-top: 5px; }

.edit .list__item a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.field {
  width: 100%;
  margin: 20px 0; }
  .field .field__label {
    display: block;
    margin: 3px 0;
    vertical-align: middle;
    word-break: break-word;
    font-size: 14px; }
  .field .field__value {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    min-height: 30px; }
  .field input, .field select {
    width: 100%;
    max-width: 320px; }

input, .input,
select {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border: none;
  background: white;
  border: 1px solid #c7c7c7; }
  input:hover, .input:hover,
  select:hover {
    border-color: #6f6f6f; }
  input:focus, .input:focus,
  select:focus {
    border-color: #deb040;
    box-shadow: #e1b853 0 0 8px 0;
    outline: none; }

input {
  padding-left: 10px; }

@media (min-width: 720px) {
  .field {
    display: table;
    width: 100%; }
    .field .field__label,
    .field .field__value,
    .field .field__after {
      display: table-cell;
      margin: 0;
      padding: 5px; }
    .field .field__label {
      min-width: 100px;
      padding: 5px 0; }
  .field-group {
    display: table;
    width: 100%; }
    .field-group .field {
      display: table-row; } }

.banner {
  display: table;
  width: 100%;
  background: #eeeeee;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .banner .banner__content {
    display: table-cell;
    padding: 10px;
    vertical-align: middle; }
  .banner .banner__icon {
    display: table-cell;
    width: 1%;
    padding: 10px;
    color: #6f6f6f;
    background: white;
    vertical-align: middle; }
    .banner .banner__icon:after {
      font-family: FontAwesome;
      vertical-align: top;
      font-size: 32px; }
  .banner.banner--info .banner__icon:after {
    content: ""; }
  .banner.banner--warning .banner__icon:after {
    content: ""; }
  .banner.banner--linked .banner__icon:after {
    content: ""; }

.sortable .sortable__item {
  display: table;
  width: 100%;
  border: 1px solid #c7c7c7;
  user-select: none;
  background: #f8f8f8; }
  .sortable .sortable__item:not(:last-child) {
    border-bottom: none; }
  .sortable .sortable__item:not(.sortable__item--disabled):hover {
    background: #eeeeee; }
  .sortable .sortable__item:not(.sortable__item--disabled) .sortable__handle {
    cursor: move; }
  .sortable .sortable__item.sortable__item--disabled {
    cursor: default; }

.sortable .sortable__slot {
  display: block; }
  .sortable .sortable__slot:last-child {
    border-bottom: 1px solid #c7c7c7; }

.sortable .sortable__content,
.sortable .sortable__handle {
  display: table-cell;
  vertical-align: middle; }

.sortable .sortable__content {
  padding: 10px; }

.sortable .sortable__handle {
  width: 30px;
  text-align: center;
  background: white; }
  .sortable .sortable__handle:hover {
    color: #e1b853; }
  .sortable .sortable__handle:after {
    font-family: "Ionicons";
    font-size: 22px;
    content: "\f397"; }

.sortable.sortable--dragging .sortable__item--dragging {
  opacity: 0.5; }

.sortable.sortable--dragging .sortable__slot:hover, .sortable.sortable--dragging .sortable__slot.sortable__slot--active {
  background: #f5e7c6;
  height: 35px;
  border: 1px solid #e5c066; }
  .sortable.sortable--dragging .sortable__slot:hover + .sortable__item, .sortable.sortable--dragging .sortable__slot.sortable__slot--active + .sortable__item {
    border-top: none; }

.sortable .field {
  margin: 0; }

.expandable .expandable__header {
  display: table;
  width: 100%; }

.expandable .expandable__label {
  padding-left: 30px; }

.expandable .expandable__button,
.expandable .expandable__label {
  display: table-cell;
  vertical-align: middle; }
  .expandable .expandable__button .expandable__icon,
  .expandable .expandable__label .expandable__icon {
    font-family: "Ionicons";
    min-width: 0;
    padding: 0 10px;
    color: #b1b1b1;
    background: none; }
    .expandable .expandable__button .expandable__icon:hover,
    .expandable .expandable__label .expandable__icon:hover {
      color: #424242; }
    .expandable .expandable__button .expandable__icon:after,
    .expandable .expandable__label .expandable__icon:after {
      display: inline-block;
      content: "\f35f";
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
      font-size: 20px;
      font-weight: bold; }

.expandable.expandable--closed .expandable__button .expandable__icon:after {
  transform: rotate(-90deg); }

.spec-runner__error {
  font-size: 10px;
  color: #9a4040; }

.overlay__anchor {
  position: relative; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); }

.dialog {
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 100;
  cursor: default; }
  .dialog .dialog__container {
    position: relative;
    height: 100%; }
  .dialog .dialog__window {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 400px;
    background: #f8f8f8;
    border: 1px solid #c7c7c7;
    z-index: 100;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .dialog .dialog__header,
  .dialog .dialog__content,
  .dialog .dialog__buttons {
    padding: 20px; }
  .dialog .dialog__header {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.7); }
    .dialog .dialog__header > div {
      display: table-cell; }
      .dialog .dialog__header > div:first-child {
        width: 99%; }
      .dialog .dialog__header > div .dialog__close {
        padding: 0;
        min-width: 44px;
        font-size: 22px;
        margin-right: -10px; }
  .dialog .dialog__content {
    min-height: 80px;
    max-height: calc(100vh - 340px);
    overflow-y: auto; }
  .dialog .dialog__buttons {
    text-align: right; }
    .dialog .dialog__buttons button {
      height: 40px; }

.tooltip {
  position: relative; }
  .tooltip .tooltip__value {
    position: absolute;
    display: none;
    top: calc(100% + 5px);
    left: 25%;
    transform: translateX(-50%);
    padding: 10px;
    background: white;
    border: 1px solid #6f6f6f;
    z-index: 10; }
    .tooltip .tooltip__value:after, .tooltip .tooltip__value:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: ""; }
    .tooltip .tooltip__value:before {
      top: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #6f6f6f; }
    .tooltip .tooltip__value:after {
      top: -9px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white; }
  .tooltip:hover .tooltip__value {
    display: block; }

.dictionary {
  display: table;
  width: 100%; }
  .dictionary .tooltip .input {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .dictionary .dictionary__list {
    min-width: 400px; }
    .dictionary .dictionary__list li {
      display: flex;
      margin-bottom: 10px;
      align-items: center; }
      .dictionary .dictionary__list li .dictionary__key {
        width: 20%; }
      .dictionary .dictionary__list li .dictionary__value {
        max-width: 100%;
        width: 70%;
        margin: 0 10px; }
      .dictionary .dictionary__list li .dictionary__remove {
        width: 10%; }
  .dictionary .dictionary__add {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px; }
    .dictionary .dictionary__add input {
      margin-right: 10px; }
    .dictionary .dictionary__add button {
      width: 75px; }

