@import 'Fonts/font-awesome.min.css';
@import 'Fonts/Ionicons/ionicons.min.css';

@import 'reset';
@import 'units';
@import 'colors';
@import 'helpers';

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    font-kerning:normal;
    font-size: 12px;
    color: $color-primary-80;
    overflow-x: hidden;

    body {
        position: relative;
        padding-top: $size-nav-height;
        background-color: $color-primary-20;
        background-color: #eee;
        background-image: url(../Content/Images/cubes_dark.png);
    }

}

// Sticky Footer
html, body { height: 100%; }
#content{
    min-height: 100%; 
    margin-bottom: -$size-footer-height;
    &:after{
        display: block;
        content: "";
        height: $size-footer-height;
    }
}

a {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: $color-secondary-50;

    &:visited,
    &:active,
    &:link{
        color: $color-secondary-50;
    }

    &:hover{
        color: $color-secondary-60;
    }
}

b { font-weight: 600; }

::-webkit-scrollbar-track
{
	//border-radius: 10px;
	background-color: $color-primary-50;
    margin-left: 5px;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	//border-radius: 10px;
	background-color: $color-primary-80;
}


@import 'Components/icons';
@import 'Components/nav';
@import 'Components/footer';
@import 'Components/games';
@import 'Components/warning';
@import 'Components/buttons';
@import 'Components/headings';
@import 'Components/tabs';
@import 'Components/designer';
@import 'Components/fields';
@import 'Components/banners';
@import 'Components/sortables';
@import 'Components/expandables';
@import 'Components/spec-runner';
@import 'Components/overlay';
@import 'Components/dialogs';
@import 'Components/tooltips';

// Controls
@import 'Components/dictionary';