@{
    ViewBag.Title = "Index";
    var userModel = User != null && User.Id != 0 ?
        new {
            id = User.Id,
            email = User.Email,
            name = User.UserName
        }
        : new {
            id = (long)0,
            email = String.Empty,
            name = String.Empty
        };
}

<div id="account"></div>

@section scripts {
    @Html.Render("account", "Forge.Account.Provider", userModel)
}


