@{
    ViewBag.Title = "Index";
    var userModel = new
    {
        id = User?.Id,
        email = User?.Email,
        name = User?.UserName
    };
}

<div id="account"></div>

@section scripts {
    @Html.Render("account", "Forge.Account.Provider", userModel)
}


