@model long
@{
    ViewBag.Title = "Game Designer";
}

<div id="designer"></div>

@section scripts{
    <script type="text/javascript">
        ReactDOM.render(
            React.createElement(Forge.Designer.Provider, { id: @Model }),
            document.getElementById('designer')
        );
    </script>
}

